DEBUG=YES
VOYAGE=v99
NO_TIER1_TEAMS=1
NO_TIER2_TEAMS=1
NO_TIER3_TEAMS=1
TIER1_NAME=Toucans
TIER2_NAME=Geckos
TIER3_NAME=Bears
GITHUB_TOKEN=<your-gh-personal-access-token>
GITHUB_ORG=chingu-voyagetest
GITHUB_TEMPLATE_REPO=voyage-template