DEBUG=YES
RESTART=40
VOYAGE=v53
TIER1_NAME=tier1
TIER2_NAME=tier2
TIER3_NAME=tier3
GITHUB_ORG=chingu-voyages
GITHUB_TEMPLATE_REPO=voyage-template
GITHUB_TOKEN=11111111111111111111111111111111111111
CONFIG_PATH=/Users/jim/Development/zeldabot/config/v53_teams_users.json